In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\mangesh\anaconda3\envs\jared\lib\site-packages (2.0.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\mangesh\anaconda3\envs\jared\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mangesh\anaconda3\envs\jared\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in c:\users\mangesh\anaconda3\envs\jared\lib\site-packages (from pandas) (1.24.4)
Requirement already satisfied: tzdata>=2022.1 in c:\users\mangesh\anaconda3\envs\jared\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\mangesh\anaconda3\envs\jared\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\mangesh\anaconda3\envs\jared\lib\site-packages (2.0.23)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\mangesh\anaconda3\envs\jared\lib\site-packages (from sqlalchemy) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\mangesh\anaconda3\envs\jared\lib\site-packages (from sqlalchemy) (3.0.1)

In [3]:
pip install mysqlclient

Requirement already satisfied: mysqlclient in c:\users\mangesh\anaconda3\envs\jared\lib\site-packages (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
# import csv
# import pandas as pd
# from sqlalchemy import create_engine, types

# engine = create_engine('mysql://root:*Enter password here*@localhost/*Enter Databse name here*') # enter your password and database names here

# df = pd.read_csv("Excel_file_name.csv",sep=',',quotechar='\'',encoding='utf8') # Replace Excel_file_name with your excel sheet name
# df.to_sql('Table_name',con=engine,index=False,if_exists='append') # Replace Table_name with your sql table name

In [9]:
import csv
import pandas as pd
from sqlalchemy import create_engine, types

engine = create_engine('mysql://root:Mangesh_14@localhost/test2') # enter your password and database names here

df = pd.read_csv("amazon_prime_titles.csv") # Replace Excel_file_name with your excel sheet name
df.to_sql('amazondata',con=engine,index=False,if_exists='append') # Replace Table_name with your sql table name

9668

In [ ]:

# Write your SQL query
query = 'SELECT * FROM your_table'

# Use pandas.read_sql() to read data from MySQL into a DataFrame
df = pd.read_sql(query, connection)

# Close the database connection
connection.close()